/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

.box {
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: url("assets/carbonfiber.png");
  padding: 5%
  margin-left: 10%;
  margin-right: 10%;
  filter: drop-shadow(0 0 0.75rem black);
}

.latest {
  float: left;
  filter: drop-shadow(0.0.075rem black);
}

.crop {
  width: 200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.bottom_box {
 text-align: center;
 width: 100%;
 height: 100%;
 background-image: url("assets/carbonfiber.png");
 padding: 5%;
 margin-left: 10%;
 margin-right: 10%;
 filter: drop-shadow(0 0 0.75rem black);
}

body {
  background-color: white;
  background-image: url("assets/showoff.png");
  background-size: 1920px 1080px;
  color: white;
  font-family: Verdana;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
